<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


<div class="container">
    <%- include('../partials/flash.ejs'); %>
    <h1 class ="mx-5 my-4">Register New User</h1>
    <form class="mx-5 needs-validation" method="POST" action ="/register" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username </label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>   

</div>



<%- include('../partials/footer.ejs') %>